[submodule "apm-protocol/apm-network/src/main/proto"]
	path = apm-protocol/apm-network/src/main/proto
	url = ssh://xuwenzhen@teamcode.fangdd.net:29418/opensource/github.com/ycoe/skywalking-data-collect-protocol
[submodule "oap-server/server-query-plugin/query-graphql-plugin/src/main/resources/query-protocol"]
	path = oap-server/server-query-plugin/query-graphql-plugin/src/main/resources/query-protocol
	url = ssh://xuwenzhen@teamcode.fangdd.net:29418/opensource/github.com/ycoe/skywalking-query-protocol
	branch = v6.4.0
[submodule "skywalking-ui"]
	path = skywalking-ui
	url = git@github.com:ycoe/skywalking-rocketbot-ui.git
	branch = master
